# Additional domain permissions
allow domain vendor_file:file { read open };
allow domain vendor_configs_file:file { read open };
allow hal_cas_default a13ve_exec:dir { open read search };